@import "tailwindcss";


html {
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none;
}

@theme {
  --color-primary: #0b7a9e;
  --color-primary-dark: #0B4658;
  --color-secondary: #0d9488;
  --color-danger: #ef4444;
  --color-surface: #f8fafc;
}